    <%-include('header')-%>

      <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
          <div class="title p-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log In For Existing user</span>
          </div>
              <form action="/route/login" method="POST" class="pt-3">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="email"/>
                   <small class="form-text text-muted text-left">Register Email</small>
                </div>
                <div class="form-control">
                  <input type="password" name="password" class="form-control" placeholder="password"/>
                </div>
                <button type="submit" class="btn btn-success rounded-pill">submit</button>
              </form>

        </div>

      </div>


    <%-include('footer')-%>
